.header-inner {
  margin: 0 auto;
  padding: 45px 0 125px;
  width: $main-desktop;

  .one-column & { width: $content-desktop; }
}

.main-inner {
  margin: 0 auto;
  width: $main-desktop;

  .one-column & { width: $content-desktop; }

  .content { width: $content-desktop; }
}

.footer-inner {
  margin: 20px auto;
  width: $main-desktop;

  .one-column & { width: $content-desktop; }
}
